<div class="blog_wrapper">
        <h3 class="datetime"><%= l(@blog.created_at, :format => :short) %></h3>
        <h2 class="blog_header"><%= @blog.title %></h2>
        <p class="blog_main"><%= coderay(@blog.post) %></li></p><br/>
</div wrapper>
