<h1>Project Portfolio</h1>

<ul>
<% @portfolios.each do |portfolio| %>
    <li>
    <%= link_to portfolio.title, portfolio_path(portfolio) %> <br/>
    <%= portfolio.context %> <br/>
    <%= portfolio.description %> <br/>
    </li>
<% end %>
</ul>

<%= link_to "New_project", new_portfolio_path %>