<div class="page_container">
      <% @portfolios.each do |portfolio| %>
      <div class="item">
          <div class="img">
              <%= link_to(content_tag(:span) + image_tag(portfolio.photo.url(:medium)), portfolio_url(portfolio)) %>
          </div img>
          <div class="item_info">
            <h3><%= link_to portfolio.title, portfolio_url(portfolio) %></h3>
            <p><%= portfolio.context %></p>
          </div item_info>  
      </div item>
      <% end %>
</div page_container>
<div class="about_footer">
</div footer>

