<div class="macbook"> 
<%= image_tag("Macbook.jpg", :alt => "Development Projects") %>
</div>

<div class="front_text">
  <h2>Clean, modern web development.</h2>
</div>
<div class="subtitle">
  <h2>I'm Robert, and I make creative content for the world wide web.</h2>
</div>
<div class="dots">
  <h3>..............................................</h3>
</div>


<%= render :partial => 'contacts/form', :object => @contacts %>