<div class="page_container">
  <div class="left_column">
    <h1><%= image_tag('Robert.jpg') %></h1>
    <h3>Name</h3>
      <p>Robert Stevenson</p>
    <h3>Phone</h3>
      <p>314.853.2202</p>
    <h3>Email</h3>
      <p>rstevenson542@gmail.com</p>
    <h3>Social Media</h3>
      <p><%= link_to image_tag("facebook.png"), "http://www.facebook.com" %><%= link_to image_tag("linkedin.png"), "http://www.linkedin.com/pub/robert-stevenson/20/a48/10a" %><%= link_to image_tag("twitter.png"), "https://twitter.com/#!/robonrails" %></p>
  </div left-column>
  <div class="right_column">
      <h1>Personal Summary</h1>
        <p>When I was five years old, I received my first computer as a birthday gift, and from that moment on, computers and technology has been my obsession. Upon graduating high school, I moved to Minneapolis, MN where I attended the University of Minnesota and studied political science and global politics. I walked on to the University's baseball team my freshman year; the time commitment of Division I college athletics helped me to realize the importance of a strong work ethic towards accomplishing your goals. During my sophomore year, I launched my first website selling digital sound libraries to hip-hop music producers. Within a few days, the company was profitable and generating enough income for me to quit my job working on campus.</p>

        <p>My introduction to web development began at Code Academy, an intensive twelve week program that teaches web development using the Ruby on Rails web application framework. During my time at Code Academy, I had the unique opportunity to interact with the best in Chicago's entrepreneurial and tech community. I developed solid foundations in Ruby on Rails, HTML 5 ,  CSS, and jQuery. I was also exposed to pair programming, test driven development, and agile software development.</p> 

        <p>Currently I live in St. Louis, MO where I work as a freelance web developer. A variety of daily tasks for me include back end development, front end development, project management, web design, running internet marketing campaigns and perhaps most importantly: maintaining my status as the self-proclaimed Madden champion of the world.</p>
      <h1>Outside of the Office</h1>
        <p>When I am not working, I enjoy spending time traveling and taking road trips. Lately, I have been on a quest to taste America's best craft beers. Apart from web development, I also enjoy listening to and creating hip-hop music. My favorite artists include A Tribe Called Quest, The Pharcyde, and Slum Village. I am happiest when I am surrounded by good friends, eating tasty food,  just enjoying the moment. </p>
  </div right-column>  
</div page_container>
<div class="about_footer">
</div footer>
