
.blog_wrapper {
width: 520px;
margin-left: 260px;
}

.blog_header {
color: #333;
text-decoration:none;
padding: 1px 2px;
background: #e1e3e0;
display:inline-block;
font-weight:normal;
font-size: 28px;
line-height: 150%;
font-family: 'Ruda', sans-serif;
text-transform: capitalize;	
}

.datetime {
font-size: 12px;
line-height: 150%;
color: #666;
position: relative;
float: left;
margin-left: -250px;
padding-right: 25px;
border-right: 1px solid #999;
width: 200px;
text-align: right;
clear: both;
margin-top: 37px;
font-family: 'Open Sans Condensed', sans-serif;
}

.blog_header a:link {
	text-decoration:none;
	color: #666;
}

.blog_header a:visited {
	text-decoration:none;
	color: #333;
}

.blog_header a:hover {
	color:gray;
}

.blog_main {
	font-family: 'Open Sans Condensed', sans-serif;
}