
#header {
border-bottom: 2px solid #111;
margin-left: auto;
margin-right: auto;
width: 960px;
}

#logo h1 a {
display: block;
width: 270px;
height: 129px;
}

grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24 {
display: inline;
float: left;
margin-left: 5px;
margin-right: 5px;
}

#nav {
text-transform: uppercase;
position: relative;
vertical-align: baseline;
}

#nav ul {
	margin-left: 228px;
}

#nav li {
display:inline;
}

#nav li a {
margin-left: 30px;
display:block;
float:left;
height:129px;
}

.container_24 .grid_17 {
width: 670px;
}